.inline-img{
  font-family:MTCORSVA;
  font-size:400%;
  margin-bottom:25%;
}

.about-ko{
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  font-size:150%;
  width:90%;
  font-family: Geosanslight;
}

.about-title{
  color:black;
  font-size:450%;
  margin-top:0px;
  margin-bottom:40px;
}
