@font-face {
	font-family: 'BOLONEWT';
	src: url('./BOLONEWT.eot');
	src: local('BOLONEWT'), url('./BOLONEWT.woff') format('woff'), url('./BOLONEWT.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_405">Text with this font applied</p> */
.fontsforweb_fontid_405 {
	font-family: 'BOLONEWT' !important;
}

/* Font downloaded from FontsForWeb.com */