@font-face {
	font-family: 'KalamRegular';
	src: url('./KalamRegular.eot');
	src: local('KalamRegular'), url('./KalamRegular.woff') format('woff'), url('./KalamRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_80802">Text with this font applied</p> */
.fontsforweb_fontid_80802 {
	font-family: 'KalamRegular' !important;
}

/* Font downloaded from FontsForWeb.com */